<div
  class="d-flex flex-row justify-content-center w-100 mw-100 bg-transparent pl-4"
  style="overflow: hidden; overflow-x: auto;"
>
  @for (item of imageList; track item.name) {
  <div
    class="image-item"
    [class.body-style-img]="type() === Option.Body"
    (click)="imageToPaint(item)"
  >
    <img [src]="item.url" loading="lazy" />
    <span class="img-name">{{ item.name }}</span>
  </div>
  }
</div>
