<div class="superhero-paint-container">
  <div class="left-row"></div>
  <div class="sketch-container">
    <div class="sketch-left">
      <div class="head">
        @if (urlHead !== undefined) {
        <img [src]="urlHead" class="image-head" loading="lazy" />
        }
      </div>
      <div class="body">
        @if (urlBody !== undefined) {
        <img [src]="urlBody" class="image-body" loading="lazy" />
        }
      </div>
      <div class="legs">
        @if (urlLegs !== undefined) {
        <img [src]="urlLegs" class="image-legs" loading="lazy" />
        }
      </div>
    </div>
    <div class="sketch-right">
      <div class="empty">&nbsp;</div>
      <div class="cape">
        @if (urlCape !== undefined) {
        <img [src]="urlCape" class="image-cape" loading="lazy" />
        }
      </div>
      <div class="empty">&nbsp;</div>
    </div>
  </div>
  <div class="right-row"></div>
</div>
