.superheroe-paint-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  background: transparent;
}

.left-row,
.right-row {
  width: 10%;
  height: 100%;
}

.sketch-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sketch-left,
.sketch-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.empty {
  width: 10em;
  height: 10em;
}

.head {
  width: 10rem;
  height: 10rem;
  padding-top: 1.1rem;
  padding-left: 2rem;
}

.image-head {
  width: 10rem;
  height: 10rem;
}

.body {
  width: 10rem;
  height: 10rem;
  padding-left: 2rem;
}

.image-body {
  width: 10em;
  height: 10em;
  z-index: 1;
  position: fixed;
}

.legs {
  width: 10rem;
  height: 10rem;
  text-align: center;
  padding-left: 3.7em;
}

.image-legs {
  width: 6.5rem;
}

.cape {
  width: 10rem;
  height: 10rem;
  padding-left: 2rem;
}

.image-cape {
  width: 10rem;
  height: 10rem;
  transform: rotate(349deg);
}
