<main style="max-width: 1400px; margin: auto">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand font-weight-bold" style="font-size: 1.5rem">
      Conviérteme en superhéroe
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        @for (option of optionList; track option) {
        <li
          class="nav-item"
          style="font-size: 1.2rem"
          [class.active]="selectedOption === option"
          [class.underline]="selectedOption === option"
          (click)="selectedOption = option"
        >
          <a class="nav-link">{{ option | titlecase }}</a>
        </li>
        }
      </ul>
    </div>
  </nav>
  <app-images-list
    [type]="selectedOption"
    (elementToShow)="getImageToPaint($event)"
  >
  </app-images-list>
  <div class="d-flex flex-row justify-content-center bg-transparent">
    <app-superheroe-paint [imageToPaint]="imageToPaint">
    </app-superheroe-paint>
  </div>
</main>
